@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    margin: 0px;
    font-family: Roboto, 'sans-serif';
}
.header{
    display: flex;
    justify-content: space-around;
    background-color: #1F2937;
    color: white;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
    margin-right: 10px;
}
a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.822);
}
.header-logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    font-weight: 600;
}
.content-1{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-around;
    background-color:#1F2937;
    padding-left: 140px;
    padding-right: 140px;
    gap: 40px;
    padding-bottom : 30px;
    padding-top : 30px;
}
img{
    height: 150px;
    width: 230px;
}
.web-awesome{
    color: white;
    font-weight: 900;
    font-size: 32px;
}
.text1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgba(255, 255, 255, 0.822);
    gap:5px;
}
.button1{
    background-color: #3882F6;
    color: white;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    border: none;
}
.text2{
    font-size: 30px;
    color: #1F2937;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin: 15px;
}
.photo-image{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.822);
    gap: 5px;
}
.order{
    display: flex;
    flex-direction: column;
    margin: 0px;
}
.content3{
    padding: 70px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB
}
.quote{
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937
}
.by{
    display:flex;
    justify-content:flex-end;
    font-weight: bold;
    color: #1F2937
}
.content4{
    background-color: #3882F6;
    padding: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}
.text4{
    font-weight: bold;
    color: white;
}
.text3{
    color: white;
    font-weight: 100;
}
.button2{
    margin-left: 20px;
    width: 140px;
    height: 35px;
    border-color: white;
    border-style:solid;
    border-radius: 10px;
    background-color: #3882F6;
    color: white;
    font-weight: bold;
}
.footer{
    background-color: #1F2937;
    padding: 30px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;   
    color: white; 
}